/* #body1{
    /* background-image: url(https://images.pexels.com/photos/417211/pexels-photo-417211.jpeg?cs=srgb&dl=beach-clouds-coast-417211.jpg&fm=jpg) */
/* } */ 
#vision{
    margin-left: 300px;
}
#h2{
    margin-left: 230px;
}
#portvibe{
    background-color: antiquewhite;
}