/* #body1{
    /* background-image: url(https://images.pexels.com/photos/417211/pexels-photo-417211.jpeg?cs=srgb&dl=beach-clouds-coast-417211.jpg&fm=jpg) */
/* } */ 
#vision{
    margin-left: 300px;
}
#h2{
    margin-left: 230px;
}
#portvibe{
    
    background-color: rgba(78, 180, 175, 0.644);
}
#header2{
    margin-left: 218px;
    border: solid;
    background: scroll;
    color: white;
}
.counter{
    background-color: darkslategray;
}
#vision{
    background-color: mediumspringgreen;
}
#offer{
    background: yellow;
}
#contact-info{
    margin-left: 400px;
    border: solid;
    margin-right: 395px;
    color: darkred;
}
#resume-s{
    background: #ce1b1b91;
    height: 150px;
    margin-top: 10px;
}