/* #body1{
    /* background-image: url(https://images.pexels.com/photos/417211/pexels-photo-417211.jpeg?cs=srgb&dl=beach-clouds-coast-417211.jpg&fm=jpg) */
/* } */ 
#vision{
    margin-left: 300px;
}
#h2{
    margin-left: 230px;
}
/* #portvibe{
    
    background-color: rgba(141, 140, 80, 0.473);  
}  */
#header2{
    margin-left: 218px;
    border: solid;
    background: scroll;
    
}
/* .counter{
    background-color: darkslategray;
} */
/* #vision{
    background-color: mediumspringgreen;
} */
/* #offer{
    background: yellow;
} */
#contact-info{
    margin-left: 400px;
    border: solid;
    margin-right: 395px;
    /* color: darkred; */
}
#resume-s{
    /* background: #ce1b1b91; */
    height: 150px;
    margin-top: 10px;
}

 #skillsheader{
    margin-left: 475px;
} 

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
